<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wisdsoft.ddms.mapper.classroom.ClassroomMapper" >
  <resultMap id="BaseResultMap" type="cn.wisdsoft.ddms.pojo.Classroom" >
    <id column="cr_id" property="crId" jdbcType="INTEGER" />
    <result column="cr_location" property="crLocation" jdbcType="VARCHAR" />
    <result column="cr_roomNum" property="crRoomnum" jdbcType="INTEGER" />
    <result column="cr_maxStuNum" property="crMaxstunum" jdbcType="INTEGER" />
    <result column="cr_type" property="crType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cr_id, cr_location, cr_roomNum, cr_maxStuNum, cr_type, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.wisdsoft.ddms.pojo.ClassroomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from classroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classroom
    where cr_id = #{crId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classroom
    where cr_id = #{crId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.wisdsoft.ddms.pojo.ClassroomExample" >
    delete from classroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.wisdsoft.ddms.pojo.Classroom" >
    insert into classroom (cr_id, cr_location, cr_roomNum, 
      cr_maxStuNum, cr_type, remark
      )
    values (#{crId,jdbcType=INTEGER}, #{crLocation,jdbcType=VARCHAR}, #{crRoomnum,jdbcType=INTEGER}, 
      #{crMaxstunum,jdbcType=INTEGER}, #{crType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.wisdsoft.ddms.pojo.Classroom" >
    insert into classroom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="crId != null" >
        cr_id,
      </if>
      <if test="crLocation != null" >
        cr_location,
      </if>
      <if test="crRoomnum != null" >
        cr_roomNum,
      </if>
      <if test="crMaxstunum != null" >
        cr_maxStuNum,
      </if>
      <if test="crType != null" >
        cr_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="crId != null" >
        #{crId,jdbcType=INTEGER},
      </if>
      <if test="crLocation != null" >
        #{crLocation,jdbcType=VARCHAR},
      </if>
      <if test="crRoomnum != null" >
        #{crRoomnum,jdbcType=INTEGER},
      </if>
      <if test="crMaxstunum != null" >
        #{crMaxstunum,jdbcType=INTEGER},
      </if>
      <if test="crType != null" >
        #{crType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.wisdsoft.ddms.pojo.ClassroomExample" resultType="java.lang.Integer" >
    select count(*) from classroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update classroom
    <set >
      <if test="record.crId != null" >
        cr_id = #{record.crId,jdbcType=INTEGER},
      </if>
      <if test="record.crLocation != null" >
        cr_location = #{record.crLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.crRoomnum != null" >
        cr_roomNum = #{record.crRoomnum,jdbcType=INTEGER},
      </if>
      <if test="record.crMaxstunum != null" >
        cr_maxStuNum = #{record.crMaxstunum,jdbcType=INTEGER},
      </if>
      <if test="record.crType != null" >
        cr_type = #{record.crType,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update classroom
    set cr_id = #{record.crId,jdbcType=INTEGER},
      cr_location = #{record.crLocation,jdbcType=VARCHAR},
      cr_roomNum = #{record.crRoomnum,jdbcType=INTEGER},
      cr_maxStuNum = #{record.crMaxstunum,jdbcType=INTEGER},
      cr_type = #{record.crType,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.wisdsoft.ddms.pojo.Classroom" >
    update classroom
    <set >
      <if test="crLocation != null" >
        cr_location = #{crLocation,jdbcType=VARCHAR},
      </if>
      <if test="crRoomnum != null" >
        cr_roomNum = #{crRoomnum,jdbcType=INTEGER},
      </if>
      <if test="crMaxstunum != null" >
        cr_maxStuNum = #{crMaxstunum,jdbcType=INTEGER},
      </if>
      <if test="crType != null" >
        cr_type = #{crType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where cr_id = #{crId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.wisdsoft.ddms.pojo.Classroom" >
    update classroom
    set cr_location = #{crLocation,jdbcType=VARCHAR},
      cr_roomNum = #{crRoomnum,jdbcType=INTEGER},
      cr_maxStuNum = #{crMaxstunum,jdbcType=INTEGER},
      cr_type = #{crType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where cr_id = #{crId,jdbcType=INTEGER}
  </update>
</mapper>